.footer {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-bottom: 10px;
    padding-left: 20px;

    box-sizing: border-box;
    width: 100%;

    .footer_rules {
        background: none;
        border: 2px solid $headerOutline;
        border-radius: 10px;
        width: 165px;
        height: 55px;

        font-family: $fontBarlow;
        font-size: 20px;
        letter-spacing: 3px;
        color: white;

        position: fixed;
        bottom: 5vh;
        right: 5vh;
    }
}